[submodule "front"]
	path = front
	url = https://github.com/Morpheus-Fatec/4S__Visiona_PolygonEditor_Front
	branch = main
[submodule "back"]
	path = back
	url = https://github.com/Morpheus-Fatec/4S__Visiona_PolygonEditor_Back
	branch = main
